.all {
    color: var(--bg);
}

.all .Status_show__GKQZH {
    color: var(--todo-bg);
    background-color: var(--bg);
}

.all .Status_selected__pkxUh {
    opacity: 1;
}

.act {
    color: var(--act);
}

.act .Status_show__GKQZH {
    color: var(--todo-bg);
    background-color: var(--act);
}

.done {
    color: var(--done);
}

.done .Status_show__GKQZH {
    color: var(--todo-bg);
    background-color: var(--done);
}