.header {
    width: 25%;
    margin-top: -1rem;
}

.today {
    margin: 3rem 0;
}

.title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.45rem;
    display: flex;
}

.title div {
    padding-left: 0.5rem;
    margin-top: -0.3rem;
}

.today p {
    font-size: 1.1rem;
    color: var(--gray);
    margin: 0.5rem 0 0 2rem;
}

.filters button {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    cursor: pointer;
    margin: 0.6rem 0 0.6rem 1.3rem;
    opacity: 0.4;
}

.filters button:hover {
    opacity: 1;
}

.filters li:nth-child(3) button {
    margin-left: 0.7rem;
}

.filters li:nth-child(1) button {
    margin-top: 1rem;
}

.filters button p {
    text-transform: uppercase;
    margin-right: 0.5rem;
}

.show {
    font-size: 1.5rem;
    color: var(--todo-bg);
    border-radius: 100%;
    padding: 0.5rem 0.5rem;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.disappear {
    display: none;
}

.filters .selected {
    opacity: 1;
}

.darkmode {
    margin: 3rem 0;
}

.toggle {
    background: transparent;
    font-size: 2rem;
    margin: 1rem 0 0 1.2rem;
    color: var(--text);
    cursor: pointer;
}

/* 태블릿 사이즈 */
@media all and (max-width: 1024px){
    .header {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      top: -1rem;
      position: relative;
    }

    .filters {
        display: flex;
        align-items: flex-end;
        margin-top: -0.7rem;
    }

    .filters li button {
        margin: 0 0.2rem;
    }

    .filters li button p {
        display: none;
    }

    .toggle {
        margin-top: 0.3rem;
    }

    .darkmode .title, .status .title {
        display: none;
    }
}